* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: Consolas, "NanumSquare", sans-serif;
}

body {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  -webkit-appearance: none;
}

.header {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #fdfdfd;
}
.header > img {
  position: absolute;
  left: 0;
  bottom: 15vh;
  height: 180px;
  transform: rotate(90deg);
}
@media (max-width: 479px) {
  .header > img {
    margin-left: 0;
  }
}
.header-title {
  margin-bottom: 3vh;
  font-size: 5vw;
}
@media (max-width: 479px) {
  .header-title {
    margin-bottom: 15vh;
  }
}
.header-title > h1 {
  margin: 0 20px 30px 20px;
  font-weight: 800;
}
#scroll-button {
  position: fixed;
  bottom: 40px;
  animation-duration: 2s;
  animation-name: pleaseScroll;
  animation-iteration-count: infinite;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#scroll-button > i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 2.1rem;
}
#scroll-button > p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
}
@keyframes pleaseScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
}

#placeholder {
  width: 0;
  height: 100vh;
  z-index: -2;
}

.body {
  width: 100%;
  min-height: 1000px;
  background-color: #000;
  color: white;
  box-shadow: 0 0px 30px 10px rgba(0, 0, 0, 0.3);
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: 800;
}

.projects {
  width: 100%;
  padding: 80px 0;
}
.projects-box {
  width: 100%;
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.project {
  width: 100%;
  max-width: 600px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
  padding: 10px;
}
.project-header {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.project-title {
  padding: 10px 10px 10px 30px;
}
@media (max-width: 479px) {
  .project-title {
    padding-left: 10px;
    font-size: 1em;
  }
}
.source {
  margin-left: auto;
  margin-right: 30px;
  color: #646eff;
}
@media (max-width: 479px) {
  .source {
    margin-right: 20px;
  }
}
.source:hover {
  text-decoration: underline;
}
.project-image-box {
  width: 100%;
  max-width: 560px;
  margin: 5px 20px;
  padding: 0 10px;
}
.project-image {
  width: 100%;
  border-radius: 5px;
}

.skills {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 0 0 0;
}
.skill {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  list-style: none;
  padding: 0 5px;
}
.skill-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-box > img {
  width: 80%;
}
.skill:hover span {
  visibility: visible;
}
.tooltip-text {
  position: absolute;
  display: inline;
  visibility: hidden;
  width: 90px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -45px;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.contacts {
  width: 100%;
  background-color: #000;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
  color: white;
  padding: 30px;
}
.contacts-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacts-title {
  padding: 5px;
}
.contacts-body > li {
  list-style: none;
  margin: 10px;
}
.contacts-body > li > a:hover {
  text-decoration: underline;
}

.about {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-boxes {
  margin-top: 0px;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.ability {
  list-style: none;
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-size: 1.2em;
  font-weight: 600;

  margin-top: 20px;

  border-radius: 15px;
}
@media all and (max-width: 479px) {
  .ability {
    width: 45%;
  }
}
.ability > * {
  margin: 15px 0;
}
.ability > i {
  font-size: 3.8rem;
}
.ability:hover {
  background-color: #333;
}
.description {
  width: 90%;
  max-width: 1000px;
  background-color: #000;
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  margin: 20px 0;
  padding: 20px;
}
#des-title {
  padding: 5px 5px 15px 5px;
}
#des-subtitle {
  margin-bottom: 10px;
}
